Excercise 3

In [1]:
import json

# Read JSON file
with open('sample-dataset-3.json', 'r') as file:
    ETL_data = json.load(file)

In [2]:
ETL_data

[{'transaction_id': 'T123456',
  'timestamp': '2024-01-15T14:30:00',
  'customer': {'id': 'CUS123',
   'region': 'North',
   'segment': 'Premium',
   'join_date': '2023-01-01'},
  'items': [{'product_id': 'P789',
    'category': 'Electronics',
    'subcategory': 'Smartphones',
    'price': 499.99,
    'quantity': 1,
    'discount': 0.0},
   {'product_id': 'P456',
    'category': 'Accessories',
    'subcategory': 'Phone Cases',
    'price': 29.99,
    'quantity': 2,
    'discount': 5.0}],
  'payment_method': 'credit_card',
  'status': 'completed',
  'shipping': {'method': 'express',
   'cost': 15.99,
   'address': {'city': 'Boston', 'state': 'MA', 'country': 'USA'}}},
 {'transaction_id': 'T123457',
  'timestamp': '2024-01-15T14:45:00',
  'customer': {'id': 'CUS456',
   'region': 'South',
   'segment': 'Standard',
   'join_date': '2023-06-15'},
  'items': [{'product_id': 'P234',
    'category': 'Books',
    'subcategory': 'Fiction',
    'price': 24.99,
    'quantity': 3,
    'discount': 10.0}],
  'payment_method': 'paypal',
  'status': 'completed',
  'shipping': {'method': 'standard',
   'cost': 5.99,
   'address': {'city': 'Miami', 'state': 'FL', 'country': 'USA'}}},
 {'transaction_id': 'T123458',
  'timestamp': '2024-01-15T15:00:00',
  'customer': {'id': 'CUS789',
   'region': 'West',
   'segment': 'Premium',
   'join_date': '2022-03-20'},
  'items': [{'product_id': 'P789',
    'category': 'Electronics',
    'subcategory': 'Smartphones',
    'price': 499.99,
    'quantity': 1,
    'discount': 50.0},
   {'product_id': 'P555',
    'category': 'Electronics',
    'subcategory': 'Tablets',
    'price': 299.99,
    'quantity': 1,
    'discount': 0.0},
   {'product_id': 'P777',
    'category': 'Electronics',
    'subcategory': 'Headphones',
    'price': 199.99,
    'quantity': 2,
    'discount': 25.0}],
  'payment_method': 'credit_card',
  'status': 'pending',
  'shipping': {'method': 'express',
   'cost': 25.99,
   'address': {'city': 'Los Angeles', 'state': 'CA', 'country': 'USA'}}},
 {'transaction_id': 'T123459',
  'timestamp': '2024-01-15T15:15:00',
  'customer': {'id': 'CUS101',
   'region': 'East',
   'segment': 'Standard',
   'join_date': '2024-01-01'},
  'items': [{'product_id': 'P333',
    'category': 'Clothing',
    'subcategory': 'Shirts',
    'price': 39.99,
    'quantity': 2,
    'discount': 15.0},
   {'product_id': 'P444',
    'category': 'Clothing',
    'subcategory': 'Pants',
    'price': 59.99,
    'quantity': 1,
    'discount': 0.0}],
  'payment_method': 'debit_card',
  'status': 'completed',
  'shipping': {'method': 'standard',
   'cost': 7.99,
   'address': {'city': 'New York', 'state': 'NY', 'country': 'USA'}}},
 {'transaction_id': 'T123460',
  'timestamp': '2024-01-15T15:30:00',
  'customer': {'id': 'CUS202',
   'region': 'North',
   'segment': 'Premium',
   'join_date': '2023-08-15'},
  'items': [{'product_id': 'P888',
    'category': 'Home',
    'subcategory': 'Kitchen',
    'price': 199.99,
    'quantity': 1,
    'discount': 20.0}],
  'payment_method': 'gift_card',
  'status': 'cancelled',
  'shipping': {'method': 'standard',
   'cost': 9.99,
   'address': {'city': 'Chicago', 'state': 'IL', 'country': 'USA'}}}]

In [3]:
type(ETL_data)

list

In [4]:
json.dump?

Signature:
json.dump(
    obj,
    fp,
    *,
    skipkeys=False,
    ensure_ascii=True,
    check_circular=True,
    allow_nan=True,
    cls=None,
    indent=None,
    separators=None,
    default=None,
    sort_keys=False,
    **kw,
)
Docstring:
Serialize ``obj`` as a JSON formatted stream to ``fp`` (a
``.write()``-supporting file-like object).

If ``skipkeys`` is true then ``dict`` keys that are not basic types
(``str``, ``int``, ``float``, ``bool``, ``None``) will be skipped
instead of raising a ``TypeError``.

If ``ensure_ascii`` is false, then the strings written to ``fp`` can
contain non-ASCII characters if they appear in strings contained in
``obj``. Otherwise, all such characters are escaped in JSON strings.

If ``check_circular`` is false, then the circular reference check
for container types will be skipped and a circular reference will
result in an ``RecursionError`` (or worse).

If ``allow_nan`` is false, then it will be a ``ValueError`` to
serialize out of range ``float`` values (``nan``, ``inf``, ``-inf``)
in strict compliance of the JSON specification, instead of using the
JavaScript equivalents (``NaN``, ``Infinity``, ``-Infinity``).

If ``indent`` is a non-negative integer, then JSON array elements and
object members will be pretty-printed with that indent level. An indent
level of 0 will only insert newlines. ``None`` is the most compact
representation.

If specified, ``separators`` should be an ``(item_separator, key_separator)``
tuple.  The default is ``(', ', ': ')`` if *indent* is ``None`` and
``(',', ': ')`` otherwise.  To get the most compact JSON representation,
you should specify ``(',', ':')`` to eliminate whitespace.

``default(obj)`` is a function that should return a serializable version
of obj or raise TypeError. The default simply raises TypeError.

If *sort_keys* is true (default: ``False``), then the output of
dictionaries will be sorted by key.

To use a custom ``JSONEncoder`` subclass (e.g. one that overrides the
``.default()`` method to serialize additional types), specify it with
the ``cls`` kwarg; otherwise ``JSONEncoder`` is used.
File:      c:\program files\windowsapps\pythonsoftwarefoundation.python.3.12_3.12.2288.0_x64__qbz5n2kfra8p0\lib\json\__init__.py
Type:      function

In [5]:
final = json.dumps(ETL_data)

In [6]:
type(final)

str

In [7]:
final = json.loads(final)

In [8]:
type(final)

list

In [9]:
pip install flatten_json

Requirement already satisfied: flatten_json in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (0.1.14)
Requirement already satisfied: six in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (from flatten_json) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from flatten_json import flatten

In [ ]:
# Flatten function 
flattened_transactions = [flatten(ETL_data) for transaction in ETL_data] 
# View the flattened data 
for transaction in flattened_transactions:
    print(json.dumps(transaction, indent=2))

In [ ]:
flatten_json = flatten(final)

In [11]:
pip install pandas

Requirement already satisfied: pandas in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\repo_local_repo_location\edstem_repo_file_collab_jerrishsir\ecld-dataengineering-nov-2024-gayathri-assessments\pr-venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd

In [13]:
### converting to dataframe

In [14]:
data = pd.json_normalize(ETL_data)

In [15]:
data

,transaction_id,timestamp,items,payment_method,status,customer.id,customer.region,customer.segment,customer.join_date,shipping.method,shipping.cost,shipping.address.city,shipping.address.state,shipping.address.country
0,T123456,2024-01-15T14:30:00,"[{'product_id': 'P789', 'category': 'Electroni...",credit_card,completed,CUS123,North,Premium,2023-01-01,express,15.99,Boston,MA,USA
1,T123457,2024-01-15T14:45:00,"[{'product_id': 'P234', 'category': 'Books', '...",paypal,completed,CUS456,South,Standard,2023-06-15,standard,5.99,Miami,FL,USA
2,T123458,2024-01-15T15:00:00,"[{'product_id': 'P789', 'category': 'Electroni...",credit_card,pending,CUS789,West,Premium,2022-03-20,express,25.99,Los Angeles,CA,USA
3,T123459,2024-01-15T15:15:00,"[{'product_id': 'P333', 'category': 'Clothing'...",debit_card,completed,CUS101,East,Standard,2024-01-01,standard,7.99,New York,NY,USA
4,T123460,2024-01-15T15:30:00,"[{'product_id': 'P888', 'category': 'Home', 's...",gift_card,cancelled,CUS202,North,Premium,2023-08-15,standard,9.99,Chicago,IL,USA

In [16]:
data.isnull()

,transaction_id,timestamp,items,payment_method,status,customer.id,customer.region,customer.segment,customer.join_date,shipping.method,shipping.cost,shipping.address.city,shipping.address.state,shipping.address.country
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
data.duplicated

<bound method DataFrame.duplicated of   transaction_id            timestamp  \
0        T123456  2024-01-15T14:30:00
1        T123457  2024-01-15T14:45:00
2        T123458  2024-01-15T15:00:00
3        T123459  2024-01-15T15:15:00
4        T123460  2024-01-15T15:30:00

                                               items payment_method  \
0  [{'product_id': 'P789', 'category': 'Electroni...    credit_card
1  [{'product_id': 'P234', 'category': 'Books', '...         paypal
2  [{'product_id': 'P789', 'category': 'Electroni...    credit_card
3  [{'product_id': 'P333', 'category': 'Clothing'...     debit_card
4  [{'product_id': 'P888', 'category': 'Home', 's...      gift_card

      status customer.id customer.region customer.segment customer.join_date  \
0  completed      CUS123           North          Premium         2023-01-01
1  completed      CUS456           South         Standard         2023-06-15
2    pending      CUS789            West          Premium         2022-03-20
3  completed      CUS101            East         Standard         2024-01-01
4  cancelled      CUS202           North          Premium         2023-08-15

  shipping.method  shipping.cost shipping.address.city shipping.address.state  \
0         express          15.99                Boston                     MA
1        standard           5.99                 Miami                     FL
2         express          25.99           Los Angeles                     CA
3        standard           7.99              New York                     NY
4        standard           9.99               Chicago                     IL

  shipping.address.country
0                      USA
1                      USA
2                      USA
3                      USA
4                      USA  >

In [18]:
data.shape

(5, 14)

In [19]:
## Calculate total transaction values

Create analysis functions that:

Group transactions by region and calculate regional sales

Find top-selling products using sorted() with custom key

Calculate average transaction value by payment method

In [ ]:
# # Extract unique categories using map() and set()
unique_categories = set(data['category'].map(lambda x: x))

print(unique_categories)

Filters completed transactions using filter()

In [ ]:
def completed_transactions(transactions):
     return list(filter(lambda x: x['status'] == 'Completed', transactions))

Sorts data by multiple criteria using lambda

In [ ]:
def sort_by_criteria(transactions):
     return sorted(transactions, key=lambda x: (x['region'], x['total_value']))

Generates summary statistics for different time period

In [ ]:
def summary_statistics(transactions): 
    # For simplicity, only showing an example for event count by region 
    event_count_by_region = {} 
    for transaction in transactions:
         region = transaction['region'] 
         if region not in event_count_by_region:
             event_count_by_region[region] = 0 
             event_count_by_region[region] += 1 
             return event_count_by_region 
         def generate_report(transactions): 
            completed = completed_transactions(transactions)
            sorted_transactions = sort_by_criteria(completed)
            summary_stats = summary_statistics(sorted_transactions)
            return { 'sorted_transactions': sorted_transactions, 'summary_statistics': summary_stats }
            report = generate_report(flattened_transactions) 
            print("Report:", report)