In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('sample-log.txt')

In [3]:
df.columns = ['timestamp', 'IP address', 'status_code', 'endpoint']

In [4]:
df

              timestamp     IP address  status_code          endpoint
0   2024-03-18 10:15:25  192.168.1.102          404  /profile/user123
1   2024-03-18 10:15:30  192.168.1.101          200            /about
2   2024-03-18 10:15:45  192.168.1.103          200         /products
3   2024-03-18 10:16:01  192.168.1.104          500         /api/data
4   2024-03-18 10:16:15  192.168.1.102          200             /home
5   2024-03-18 10:16:30  192.168.1.105          404     /blog/post123
6   2024-03-18 10:16:45  192.168.1.101          200         /products
7   2024-03-18 10:17:00  192.168.1.106          200             /home
8   2024-03-18 10:17:15  192.168.1.107          403            /admin
9   2024-03-18 10:17:30  192.168.1.102          200            /about
10  2024-03-18 10:17:45  192.168.1.108          200          /contact
11  2024-03-18 10:18:00  192.168.1.109          500        /api/users
12  2024-03-18 10:18:15  192.168.1.101          200             /home
13  2024-03-18 10:18:30  192.168.1.110          200         /products
14  2024-03-18 10:18:45  192.168.1.102          404  /images/logo.png
15  2024-03-18 10:19:00  192.168.1.111          200             /home
16  2024-03-18 10:19:15  192.168.1.112          200            /about
17  2024-03-18 10:19:30  192.168.1.101          503       /api/orders
18  2024-03-18 10:19:45  192.168.1.113          200         /products
19  2024-03-18 10:20:00  192.168.1.102          200          /contact

In [7]:
unique_ip_address = df['IP address'].nunique()

In [8]:
print(unique_ip_address)

13

In [13]:
total_count = df['IP address'].count()

In [14]:
print(total_count)

20

In [ ]:
df['endpoint'].value_counts()[df['name'].value_counts() == df['name'].value_counts().max()]

In [29]:
for value, count in df["endpoint"].value_counts().items():
...     print(value, count)

/products 4
/home 4
/about 3
/contact 2
/profile/user123 1
/blog/post123 1
/api/data 1
/admin 1
/api/users 1
/images/logo.png 1
/api/orders 1

In [35]:
print('unique ip adress count', df['IP address'].nunique())
print('total_count',df['IP address'].count())

unique ip adress count 13
total_count 20

In [37]:
status_percentage = (df['status_code'] / 500) * 100

In [39]:
print ('status_percentage',
       (df['status_code'] / 500) * 100)

status_percentage 0      80.8
1      40.0
2      40.0
3     100.0
4      40.0
5      80.8
6      40.0
7      40.0
8      80.6
9      40.0
10     40.0
11    100.0
12     40.0
13     40.0
14     80.8
15     40.0
16     40.0
17    100.6
18     40.0
19     40.0
Name: status_code, dtype: float64